## Task 1

In [2]:
import requests
import csv
import pandas as pd

In [4]:
#We can change the base amount of USD with 2 different ways
#First, we change the amount in the API url link
response1 = requests.request('GET','https://api.frankfurter.app/latest?amount=10&from=USD&to=EUR')
data1 = response1.json()
data1

{'amount': 10.0, 'base': 'USD', 'date': '2022-03-17', 'rates': {'EUR': 9.049}}

In [5]:
print(f"WELCOME, HERE YOU CAN CONVERT USD TO EUR. DUE TO ({data1['date']})")
amount = data1['amount']
rate = data1['rates']['EUR']
print(f'FOR {amount} USD = {rate} EUR')

WELCOME, HERE YOU CAN CONVERT USD TO EUR. DUE TO (2022-03-17)
FOR 10.0 USD = 9.049 EUR

In [6]:
#Second, by calculating the amount from the data itself
response2 = requests.request('GET','https://api.frankfurter.app/latest?amount=1&from=USD&to=EUR')
data2 = response2.json()
data2

{'amount': 1.0, 'base': 'USD', 'date': '2022-03-17', 'rates': {'EUR': 0.9049}}

In [7]:
print(f"WELCOME, HERE YOU CAN CONVERT USD TO EUR. DUE TO ({data2['date']})")
rate = data2['rates']['EUR']
try:
    amount = int(input('ENTER AN AMOUNT : '))
    result = amount * rate
    print(f'USD AMOUNT TO EUR = {result}')
except Exception as e:
    print('A TYPE ERROR HAS OCCURED. PLEASE TRY AGAIN')

WELCOME, HERE YOU CAN CONVERT USD TO EUR. DUE TO (2022-03-17)
ENTER AN AMOUNT : 15
USD AMOUNT TO EUR = 13.573500000000001

## Task 2

In [8]:
response3 = requests.request('GET','https://www.metaweather.com/api/location/1521894/')
data3 = response3.json()
data3

{'consolidated_weather': [{'id': 6613325992427520,
   'weather_state_name': 'Clear',
   'weather_state_abbr': 'c',
   'wind_direction_compass': 'NNE',
   'created': '2022-03-17T19:34:22.841440Z',
   'applicable_date': '2022-03-17',
   'min_temp': 7.185,
   'max_temp': 20.535,
   'the_temp': 18.005000000000003,
   'wind_speed': 4.928342353421352,
   'wind_direction': 23.494896599357332,
   'air_pressure': 1025.0,
   'humidity': 37,
   'visibility': 13.383092738407699,
   'predictability': 68},
  {'id': 5553644549177344,
   'weather_state_name': 'Clear',
   'weather_state_abbr': 'c',
   'wind_direction_compass': 'NNE',
   'created': '2022-03-17T19:34:25.756820Z',
   'applicable_date': '2022-03-18',
   'min_temp': 8.620000000000001,
   'max_temp': 23.71,
   'the_temp': 20.200000000000003,
   'wind_speed': 6.159189382380233,
   'wind_direction': 20.836329434098143,
   'air_pressure': 1021.5,
   'humidity': 47,
   'visibility': 12.855548596198203,
   'predictability': 68},
  {'id': 5654037530673152,
   'weather_state_name': 'Light Cloud',
   'weather_state_abbr': 'lc',
   'wind_direction_compass': 'N',
   'created': '2022-03-17T19:34:28.775609Z',
   'applicable_date': '2022-03-19',
   'min_temp': 9.11,
   'max_temp': 23.490000000000002,
   'the_temp': 19.965,
   'wind_speed': 7.535739254407592,
   'wind_direction': 7.6504785208312445,
   'air_pressure': 1019.5,
   'humidity': 46,
   'visibility': 13.266896325459317,
   'predictability': 70},
  {'id': 4590784016809984,
   'weather_state_name': 'Heavy Cloud',
   'weather_state_abbr': 'hc',
   'wind_direction_compass': 'NE',
   'created': '2022-03-17T19:34:31.772056Z',
   'applicable_date': '2022-03-20',
   'min_temp': 10.095,
   'max_temp': 20.885,
   'the_temp': 19.130000000000003,
   'wind_speed': 9.410233469010313,
   'wind_direction': 48.65036738172821,
   'air_pressure': 1017.0,
   'humidity': 47,
   'visibility': 13.012134136642011,
   'predictability': 71},
  {'id': 5000554632708096,
   'weather_state_name': 'Heavy Cloud',
   'weather_state_abbr': 'hc',
   'wind_direction_compass': 'NNE',
   'created': '2022-03-17T19:34:34.851986Z',
   'applicable_date': '2022-03-21',
   'min_temp': 10.62,
   'max_temp': 18.134999999999998,
   'the_temp': 16.55,
   'wind_speed': 10.032729730562847,
   'wind_direction': 32.5,
   'air_pressure': 1013.5,
   'humidity': 52,
   'visibility': 12.138486240356318,
   'predictability': 71},
  {'id': 6557894238535680,
   'weather_state_name': 'Heavy Cloud',
   'weather_state_abbr': 'hc',
   'wind_direction_compass': 'WNW',
   'created': '2022-03-17T19:34:37.960374Z',
   'applicable_date': '2022-03-22',
   'min_temp': 8.77,
   'max_temp': 17.37,
   'the_temp': 14.98,
   'wind_speed': 6.046744810307802,
   'wind_direction': 290.0,
   'air_pressure': 1017.0,
   'humidity': 43,
   'visibility': 9.999726596675416,
   'predictability': 71}],
 'time': '2022-03-17T22:26:44.791527+02:00',
 'sun_rise': '2022-03-17T06:02:46.616606+02:00',
 'sun_set': '2022-03-17T18:04:26.224643+02:00',
 'timezone_name': 'LMT',
 'parent': {'title': 'Egypt',
  'location_type': 'Country',
  'woeid': 23424802,
  'latt_long': '26.837090,30.796391'},
 'sources': [{'title': 'BBC',
   'slug': 'bbc',
   'url': 'http://www.bbc.co.uk/weather/',
   'crawl_rate': 360},
  {'title': 'Forecast.io',
   'slug': 'forecast-io',
   'url': 'http://forecast.io/',
   'crawl_rate': 480},
  {'title': 'HAMweather',
   'slug': 'hamweather',
   'url': 'http://www.hamweather.com/',
   'crawl_rate': 360},
  {'title': 'Met Office',
   'slug': 'met-office',
   'url': 'http://www.metoffice.gov.uk/',
   'crawl_rate': 180},
  {'title': 'OpenWeatherMap',
   'slug': 'openweathermap',
   'url': 'http://openweathermap.org/',
   'crawl_rate': 360},
  {'title': 'Weather Underground',
   'slug': 'wunderground',
   'url': 'https://www.wunderground.com/?apiref=fc30dc3cd224e19b',
   'crawl_rate': 720},
  {'title': 'World Weather Online',
   'slug': 'world-weather-online',
   'url': 'http://www.worldweatheronline.com/',
   'crawl_rate': 360}],
 'title': 'Cairo',
 'location_type': 'City',
 'woeid': 1521894,
 'latt_long': '30.049950,31.248600',
 'timezone': 'Africa/Cairo'}

In [9]:
with open('weather.csv','w',newline='') as f:
    writer = csv.DictWriter(f,fieldnames=['Weather temperature', 'Humidity', 'Visibility', 'Air pressure', 'Wind speed', 'Date time'])
    writer.writeheader()
    for weather in data3['consolidated_weather']:
        writer.writerow({'Weather temperature':weather['the_temp'], 'Humidity':weather['humidity'], 'Visibility':weather['visibility'], 'Air pressure':weather['air_pressure'], 'Wind speed':weather['wind_speed'], 'Date time':weather['applicable_date']})

In [10]:
dataframe = pd.read_csv('weather.csv')
dataframe

,Weather temperature,Humidity,Visibility,Air pressure,Wind speed,Date time
0,18.005,37,13.383093,1025.0,4.928342,2022-03-17
1,20.200,47,12.855549,1021.5,6.159189,2022-03-18
2,19.965,46,13.266896,1019.5,7.535739,2022-03-19
3,19.130,47,13.012134,1017.0,9.410233,2022-03-20
4,16.550,52,12.138486,1013.5,10.032730,2022-03-21
5,14.980,43,9.999727,1017.0,6.046745,2022-03-22

## Task 3

In [11]:
response4 = requests.request('GET','https://jsonplaceholder.typicode.com/users')
data4 = response4.json()
data4

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [15]:
with open('users.csv','w',newline='') as f:
    writer = csv.DictWriter(f,fieldnames=['Name', 'Username', 'E-mail', 'Street', 'Suite', 'City', 'Zip code', 'geo_lat', 'geo_long'])
    writer.writeheader()
    for user in data4:
        writer.writerow({'Name':user['name'], 'Username':user['username'], 'E-mail':user['email'], 'Street':user['address']['street'], 'Suite':user['address']['suite'], 'City':user['address']['city'], 'Zip code':user['address']['zipcode'], 'geo_lat':user['address']['geo']['lat'], 'geo_long':user['address']['geo']['lng']})

In [16]:
dataframe = pd.read_csv('users.csv')
dataframe

,Name,Username,E-mail,Street,Suite,City,Zip code,geo_lat,geo_long
0,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232