# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b: 
               return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [15]:
def animal_crackers(text):
    l=[]
    l=text.split()
    m=l[0]
    n=l[1]
    if m[0]==n[0]:
        return True
    else:
        return False

In [16]:
# Check
animal_crackers('Levelheaded Llama')

True

In [17]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20 or n1+n2==20:
        return True
    else:
        return False

In [19]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(2,3)

False

In [21]:
# check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [34]:
def old_macdonald(name):
    c=name[0].upper()+name[1:3]+name[3].upper()+name[5:]
    return c

In [35]:
# Check
old_macdonald('macdonald')

'MacDnald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [42]:
def master_yoda(text):
    m=[]
    m=text.split()
    m.reverse()
    c=' '.join(m)
    return c

In [43]:
# Check
master_yoda('I am home')

'home am I'

In [44]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [255]:
def almost_there(n):
    if 90<n<111 or 190<=n<211:
        return True
    else:
        return False

In [256]:
# Check
almost_there(104)

True

In [257]:
# Check
almost_there(150)

False

In [258]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [183]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    else:
            return False

In [184]:
# Check
has_33([1, 3, 3])

True

In [185]:
# Check
has_33([1, 3, 1, 3])

False

In [186]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [225]:
def paper_doll(text):
    c=[]
    c[:0]=text
    for i in range(len(c)):
        c[i]=c[i]*3
        h=''.join(c)
        
    return h

In [226]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [227]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [248]:
def blackjack(a,b,c):
    s=a+b+c
    if s<=21:
        return s
    elif s>21 and a==11 or b==11 or c ==11:
        r= s-10
        if r<=21:
            return r
        else:
            return 'bust'
    else:
        return 'bust'

In [249]:
# Check
blackjack(5,6,7)

18

In [250]:
# Check
blackjack(9,9,9)

'bust'

In [251]:
# Check
blackjack(9,9,11)

19

In [252]:
# Check
blackjack(20,11,9)

'bust'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [290]:
def summer_69(arr):
    list=arr
    su=int()
    for i in range(len(arr)):
        su+=arr[i]
        if list[i]==6 and list[i+1]!=9 :
            su-=arr[i]
            break
        elif list[i]==6 and list[i+1]==9:
            su-=arr[i]
            su-=arr[i+1]
            continue
            continue
    return(su)

In [14]:
def summer_69(arr):
    su=0
    flag=False
    for i in arr:
        if i==6:
            flag=True
            continue
        elif i==9:
            flag=False
            continue
            
        if flag==True:
            continue
        else:
            su+=i

In [13]:
# Check
summer_69([1, 3, 5])

In [9]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [10]:
# Check
summer_69([2, 1, 6, 9, 11])